body {
  margin: 0;
  font-family: "KoHo", sans-serif;
  padding: 0;
}
.flex-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.half-width {
  width: 450px;
  margin-bottom: 30px;
}

.half-width img {
  width: 80%;
}
h1 {
  font-size: 50px;
  margin: 0;
}
h2 {
  font-size: 40px;
}
.orange-color {
  color: orange;
}
p {
  color: dimgray;
}
.anchor {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 40px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(45deg, lightsalmon, tomato);
}
.top-part {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
.experiences {
  background-image: url("images/exp-bg.png");
  background-repeat: no-repeat;
  background-position: center left;
}

.exp-box {
  width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 10px 10px 10px gray;
  margin: 30px 20px;
  padding: 10px;
}
#full {
  border-left: 8px solid;
  border-image: linear-gradient(180deg, lightsalmon, tomato);
  border-image-slice: 1;
}
#baby {
  border-left: 8px solid;
  border-image: linear-gradient(180deg, blue, cyan);
  border-image-slice: 1;
}
footer > p {
  text-align: center;
}

@media (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: start;
  }
  .half-width {
    width: 40%;
    flex: 1 1 none;
  }
  .half-width img {
    width: 100%;
  }
  .dream-part {
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  .exp-box {
    height: 380px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px gray;
    margin: 30px 0;
    padding: 10px;
  }
}
